# Basic of Programing : BALBHARTI 5th Class

## Chapter 1: Additon and substraction

In [3]:

a=40722
b=13819
c=a+b
c
print('c=',c)
d=a-b
print('d=',d)

c= 54541
d= 26903

In [10]:
# user based output
n=int(input('value 1'))
m=int(input('valur 2'))
p=m+n        # for Addition
print('p=',p)
q=(m-n)        #for substraction
print('q=',q)
#for non negative ans.: use abs()
q2=abs(m-n)
print('q2=',q2)

value 1 79
valur 2 45

p= 124
q= -34
q2= 34

In [13]:
''' Q. a city has a population of 3704926. If this includes 1124069 men and 1096478 women, what is the number of children in the city?'''
Total_Poputlation=3704926
Men=1124069
women=1096478
Num_of_Children=Total_Poputlation-(Men+women)
print('Num_of_Children=',Num_of_Children)

Num_of_Children= 1484379

In [2]:
''' In a certain election, 1347048 women and 1429638 men cast their votes. How many votes were polled 
altogather.'''
Men_Vote=1429638
Women_Votes=1429638
Total_votes=Men_Vote+Women_Votes
print('Votes were polled altogather=',Total_votes)

Votes were polled altogather= 2859276

In [3]:
'''If Surekhatai bought a tractor for Rs. 807957 and a thresher for Rs. 32609. How much money 
did she spend altogether?'''
Tractor_price=807957
Thresher_price=32609
Total_Expenditure=Tractor_price+Thresher_price
print('She spend altogather =',Total_Expenditure)

She spend altogather = 840566

In [6]:
''' A textile mill produced 1724938 meter of cloth last year and 2347056 meters this year.
What was the total production for the two years?'''
Produce_This_yr=1724938 
Produce_last_yr=2347056
Total=Produce_This_yr+Produce_last_yr
print('total production for the two years is Rs.',Total)

total production for the two years is Rs. 4071994

In [7]:
'''If the Government gave Rs. 3462950 worth of computer and Rs. 326578 worth of TV sets to the school.
What is the total amount it spent on this equipment?'''
Computer_worth =3462950
TV_worth=326578
Total=Computer_worth+TV_worth
print('Total amount it spent on this equipment in Rs.',Total)

Total amount it spent on this equipment in Rs. 3789528

### substraction

In [9]:
''' Prathamesh wants to buy a laptop worth Rs. 27450. He has Rs. 22975.
What is the amount he still need to be able to buy the laptop?'''
Laptop_worth=27450
He_has=22975
Needed=Laptop_worth-He_has
print('The amount need to buy the laptop is Rs.',Needed)

The amount need to buy the laptop is Rs. 4475

In [1]:
''' Q. in a certian city the number of men is 1637856 and the number of women is 1652978. By how 
many does the number of women exceed the number of men?'''
m=163756
w=1652978 
W=w-m
print('The number of women exceed the number of men is :',W)

The number of women exceed the number of men is : 1489222

In [2]:
''' Q. The total amount spent on builder in a certian house was Rs.8714530. Of this amount Rs.2472615 were spent on buying the plot of land Rs.5043720 on the
construction material and the rest on labour charges. What was the amount spent on labour?'''
T=8714530
p=2472615
m=5043720
l=T-p+m
print('the amount spent on labour is Rs.',l)

the amount spent on labour is Rs. 11285635

## Chapter 2: Multiplication and Divison

In [15]:
# Multiplication
a=754
b=368
c=a*b
print('c=',c)

c= 277472

In [17]:
'''Q. One computer cost Rs. 27540. how much will 18 such computer cost?'''
cost_of_1_Computer=27540
Num_computer=18
Total_cost=Num_computer*cost_of_1_Computer
print('Cost of 18 computer is',Total_cost)

Cost of 18 computer is 495720

In [18]:
'''Q. One computer cost Rs.X. how much will Y such computer cost?'''
cost_of_1_Computer=int(input('Value of X'))
Num_computer=int(input(' Value of Y'))
Total_cost=Num_computer*cost_of_1_Computer
print('Cost of 18 computer is',Total_cost)

Value of X 454550
 Value of Y 70

Cost of 18 computer is 31818500

In [19]:
' #Pairing off objects from groups'
''' Q. 'A' want to travel so he took with him three shirts- one red one blue and one green and two pairs of trouser 
- one white and one black how may different way does he have of pairing off with shirt with trouser?'''
Num_of_shirt=3
Num_of_Trousers=2
Total_possible_Pari=Num_of_shirt*Num_of_Trousers
print('Total Possible Pairs=',Total_possible_Pari)

Total Possible Pairs= 6

In [20]:
# Division 
a=4254
b=25
c=a/b
print('c =',c)
d=a%b
print('d=',d)
e=a//b
print('e=',e)

c = 170.16
d= 4
e= 170

In [21]:
'''Q. How manay hour will it take to travel 336 km at a speed of 48 km per hour?'''
speed=48 
distance=336
time=distance/speed
print(time)

7.0

In [26]:
''' From a toatal of 10000 rupee, Anna donated 7000 rupee to a school. 
The remaining amount was divided equally among six student as the all round
student prize What was the amount of each peize?'''
T=Total_Rs=10000
D=Donated=7000
r=remaining_amount=T-D
print('Remaining amount (in Rs.) =',r)
N=Num_of_all_round_student=6
A=amount_of_each_Prize= r/N
print('the amount of each prize (in Rs).',A)

Remaining amount (in Rs.) = 3000
the amount of each prize (in Rs). 500.0

In [91]:
''' If 48 sheets are required for making one notebook. how many notebooks at the most will 5880 sheets make and how many sheets will be left over?'''
no_s=5880
B1=48
rem=no_s%B1
print('Number of sheets left over is',rem)

Number of sheets left over is 24

In [92]:
''' Q. What will the quotient be when the smallest five-digit number is divided by the smalles four digit number?'''
No=10000
no=1000
quo=No/no
print('The quotient will be',quo)

The quotient will be 10.0

In [93]:
''' Q. An amount of Rs. 260 each was collected from 50 students for a picnic. If Rs.11450 were spent for the picnic. what is
the amount left over?'''
s=50
amt=260
spent=11450
total=s*amt
Rem=total-spent
print('amount left over',total)

amount left over 13000

In [94]:
''' Q. A shopekeeper bought a sack of 50 kg of sugar for Rs.1750. As a price of sugar fell, he had to sell it at the rate of Rs.32 per kilo. How much less money did he get than he had spent?'''
kg=50
p=32
A2=kg*p
A1=1750
L=A1-A2
print('He get less money did he get Rs.',L)

He get less money did he get Rs. 150

In [96]:
''' Q. The capacity of an overhead water tank is 3000 liter. There are 16 families living in this building. If each family uses 
225 liter every day, will the tank filled to capacity be enough for all the families? If not, what will the daily shortfall be?'''
F=16
T=3000
use=225
TU=F*use
SF=TU-T
print(f'Daily shortfall of water is {SF} liters')

Daily shortfall of water is 600 liters

## Chapter 3 : Fraction

In [97]:
from fractions import Fraction

In [128]:
a=20/2
Fraction(10,20)

Fraction(1, 2)

In [140]:
if print(Fraction(1,2)==Fraction(i,20)):
   while(i>1):
       i=i+1
print(Fraction(i,20))

True
1/2

In [2]:
# For equivalent fraction:
fraction=[(1,2), (2,3), (4,6), (2,9), (7,9),(5,3)]
for num, den in fraction:
    factor=18//den
    print(f"{num}/{den}->{num*factor}/{18}")

1/2->9/18
2/3->12/18
4/6->12/18
2/9->4/18
7/9->14/18
5/3->30/18

In [156]:
fraction=[(6,15),(10,25),(12,30),(6,10),(21,35)]
for num, den in fraction:
    factor=den//5
    print(f"{num}/{den}->{num//factor}/{5}")

6/15->2/5
10/25->2/5
12/30->2/5
6/10->3/5
21/35->3/5

## Chaper 4 : Angles

In [1]:
while(True):
    Angle=int(input('Enter Angles='))
    if(Angle<90):
        print('It is an acute Angle')
    elif(Angle>90):
        print('It is an obtuse Angle')
    else:
        print('It is an right Angle')
    break

Enter Angles= 63

It is an acute Angle

## Chapter 5 : Circle

In [166]:
# Radius of the circle 
Radius=int(input('Enter radius'))
Diameter=2*Radius
print('Diameter of the Circle is',Diameter)

Enter radius 55

Diameter of the Circle is 110

## Chapter 8 : Multiples and Factors

In [201]:
# Factors
k=int(input('Enter the value'))
for i in range (10):
    i=i+1
    v=k//i
    print(v)
    for f in range(v):
        f=k%i==0
    print(f)

Enter the value 33

33
True
16
False
11
True
8
False
6
False
5
False
4
False
4
False
3
False
3
False

In [46]:
# Prime Number between 1-20

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
for number in range(1, 101):
    if is_prime(number):
        print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [47]:
def Prime(num):
    if num<=1:
        return False
    for i in range(2,int(num*0.5)+1):
        if num%i==0:
            return False
        return True
for num in range (0,21):
    if Prime(num):
        print(num)

5
7
9
11
13
15
17
19

In [ ]:
n1=int(input('Enter the value of n1'))
n2=int(input('Enter the value of n2'))
while(i>=int(1)):
    k=n1//i
    l=n2//i
    i=i+1
    if(k==l):
        print(k)

### Decimal Fraction

In [82]:
from decimal import Decimal
# but genrally no need to use because its bydefault present in it.

In [78]:
def Rupee(r,p):
    return
    print(f'{r} Rupee and {p} paisa')

In [81]:
Rupee(23,45)

### Chapter 9: Promblems on Measurement

In [105]:

def metr(km,mt):
    k= (km*100)+mt
    return k

In [106]:
metr(37,250)+metr(15,950)

6400

In [4]:
'''Q. For his birthday, Ajay gave 20l 450ml of milk to the children in an Ashramshala and 28 l 800ml to the children in an orphanage. How much milk did Ajay donate?'''\

A_lit=20
a_ml=450
O_lit=28
O_ml=800
don= (A_lit+O_lit)*1000+(a_ml+O_ml)
print(don,'ml')

49250 ml

In [5]:
""" Q.if hlaf of milk cost Rs. 22 how much will 7 lite cost?"""
p=22*2
lit=7
c=p*lit
print('7 liter cost Rs.:',c)

7 liter cost Rs.: 308

In [10]:
''' If a man walks at a speed of 4kmph, how long will it take him to walk 3 km?'''
speed=4
dis=3
time=(dis/speed)
print(time,'hr it take him to walk 3 km')

0.75 hr it take him to walk 3 km

In [11]:
''' Q. If a rickshaw travels at a speed of 30 kmph, how far will it travel in three quarter of an hour?'''
s=30
t=3/4
dis=t*s
print(dis,'km travel in three quarter of an hour')

22.5 km travel in three quarter of an hour

## Chapter 10:  Parimeter and Area

In [13]:
'''Q. How much wire will be needed to make a rectangle 7 cm long and 4 cm wide.'''
l=7
b=4
a=2*(l*b)
print(a,'cm wire will needed to make a rectangle')

56 cm wire will needed to make a rectangle

In [14]:
''' Q. If the length of a rectangle is 20 m and its width is 12 m, what is its perimeter.'''
l=20
w=12
R=2*(l*b)
print(R,'is a Perimeter')

160 is a Perimeter

In [18]:
''' Q. Each side of a square is 9 m wide, what is the distance we walk in kilometer?'''
s=9
S_km=(0.001)*s
As=S_km**2
print(As,'is the distance they walk')

8.100000000000002e-05 is the distance they walk

In [19]:
''' Q. if we take 4 rounds around a field that is 160 m long and 90 m wide, what is the distance we walk in Km?'''
l=160
b=90
A=2*(l*b)*(0.001)
d=A*4
print(d,'km is the distance we walk')

115.2 km is the distance we walk

In [21]:
''' A game requires its players to run around a square playground. Each side of the playground is 20 m long. One player took 5 rounds around the playground. How many meters did he run altogether?'''
s=20
A_s=s**2
length=A_s*4
print(length,'m  length is require for 5 rounds around the playground')

1600 m  length is require for 5 rounds around the playground