# User Based Output of Data

In [5]:
##rectangle
L=int(input('any value of L'))
B=int(input('any value of B'))
Area=L*B
print(Area)
perimeter=2*(L+B)
print(perimeter)

any value of L 10
any value of B 20

200
60

In [6]:
#square
S=int(input('any value of S'))
Area=S**2
print(Area)
p=4*S
print(p)

any value of S 30

900
120

In [7]:
#TRAPIZIUM
B1=int(input('any value of B1'))
B2=int(input('any value of B2'))
H=int(input('any value of H'))
Area=1/2*(B1+B2)*H
print(Area)

any value of B1 30
any value of B2 60
any value of H 20

900.0

In [9]:
#cirle
R=int(input('Enter value of R'))
Area=3.14*(R**2)
print(Area)
Circumference=(2*R)*3.14
print(Circumference)

Enter value of R 10

314.0
62.800000000000004

In [10]:
# 3D GEOMETRY

In [11]:
## Cureved surface Area (C), Volume (V) and Surface Area (S)

In [13]:
#CYLINDER
r=int(input('Enter any value of r'))
h=int(input('Enter any value of h'))
S=2*3.14*r*h
print(S)
Total_S=(2*r*3.14)*(r+h)
print(Total_S)
V=3.14*(r**2)*h
print(V)

Enter any value of r 20
Enter any value of h 30

3768.0000000000005
6280.0
37680.0

In [14]:
# Cone
r=int(input('Enter any value of r'))
l=int(input('Enter any value of l'))
C=3.14*r*l
print(C)
S=3.14*r*l
print(S)
Total_S=3.14*r*(r+l)
print(Total_S)
V=1/3*(3.14)*(r**2)*h
print(V)

Enter any value of r 20
Enter any value of l 30

1884.0000000000002
1884.0000000000002
3140.0
12559.999999999998

In [15]:
# SPHERE
r=int(input('Enter value of r'))
S=4*(3.14)*r**2
print(S)
V=4/3*(3.14)*(r**3)
print(V)

Enter value of r 20

5024.0
33493.333333333336

# Condition Operator

## if, else, and elif operator

In [6]:
#write a program to accept percentage form the user and display the grade according following criteria

M=int(input('Enter the Marks'))
if(M>90):
    print('Grade A')
elif(80<M>=90):
    print('Grade B')
elif(80>=M>=60):
    print('Grade C')
else: print('Grade D')

Enter the Marks 66

Grade C

In [8]:
# WRITE a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
P=int(input('Enter the Cost Price (in Rs)'))
if(P>100000):
    print('Tax 15%')
elif(50000<P<=100000):
    print('Tax 10%')
else:print('Tax 5%')

Enter the Cost Price (in Rs) 324000

Tax 15%

### While Loop

In [17]:
i=1
while(i<=10):
    print(i)
   
    i=i+1
print('complet')

1
2
3
4
5
6
7
8
9
10
complet

In [26]:
#first 10 even no.
a=2
while(a<20):
    print(a)
    a=a+2
    
print(a)

2
4
6
8
10
12
14
16
18
20

In [34]:
# first 10 odd no.
a=1
while(a<20):
    print(a)
    a=(a+2)
print(a)

1
3
5
7
9
11
13
15
17
19
21

In [32]:
# 1st 10 natural no.
a=1
while(a<10):
    print(a)
    a=(a+1)
print(a)

1
2
3
4
5
6
7
8
9
10

In [31]:
#1st 10 whole no.
a=0
while(a<9):
    print(a)
    a=a+1
      
print(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#1st 10 integer and their square using while loop
a=1
n=2
while(a<=10):
    print(a)
    a=a**n
print(a")

In [23]:
#1st 10 integer and their square using while loop
a=1
n=2
print("Number\t\tSquare")
while(a<=10):
    print(a, "\t\t",a**n)
    a=a+1

Number		Square
1 		 1
2 		 4
3 		 9
4 		 16
5 		 25
6 		 36
7 		 49
8 		 64
9 		 81
10 		 100

In [28]:
# Write for loop statement to print the following series:10,20,30,.....300.
i=1
n=10
while(i<=30):
    print(i*n)
    i=i+1

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [32]:
i=15
n=7
while(i>=1):
    print(i*n)
    i=i-1

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [33]:
# Write a program to print first 10 natural number in reverse order using while loop.
i=10
while(i>=1):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

## For Loop

In [1]:
for i in "MY Blog":
    print(i)

M
Y

B
l
o
g

In [2]:
for i in range(5,125,10):
    print(i)

5
15
25
35
45
55
65
75
85
95
105
115

In [6]:
#Program to print 1st 10 natural no. 
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
#Program to print 1st 10 odd no.
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [12]:
# reverse the above
for i in range(19,0,-2):
    print(i)

19
17
15
13
11
9
7
5
3
1

In [9]:
#Program to print 1st 10 even no.
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
# reverse the above program
for i in range(20,1,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [15]:
n=int(input('Enter value of n'))
for i in range(1,11):
    print(i*n)

Enter value of n 6

6
12
18
24
30
36
42
48
54
60

In [11]:
G=int(input('Enter value of G'))
i=1
while(G>0):
    r=G%10
    i=i*r
    G//=10
print('product of digit',i)

Enter value of G 10

product of digit 0

In [17]:
n=(input('Enter no.: '))
p=1
for d in n:
    p=int(d)*p
print('product of digit',p)

Enter no.:  44

product of digit 16

In [19]:
n=int(input('Enter value of n'))
f=1
i=1
while(n>=i):
    f=f*i
    i=i+1
print('Factorial is',f)

Enter value of n 6

Factorial is 720

In [25]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
        
    print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
for i in range (